.nav{
    position: fixed; top: 0px; z-index: 10; margin: auto; width: 100%; z-index: 100;
}
@media(min-width: 1024px){
    .nav{
        top: 8px;
    }
}
.content{
    background-position: center center;
    background-image: url('../../../assets/bgs/op3.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
main{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.8) 80%,  rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
}
section{
    width: 90vw;
    min-height: 100%;
    margin: auto;
}
li::marker{
    color: var(--darkPrimary);
}
.header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2{
    font-size: 3rem;
    margin: 1.5rem;
}
p,span{
    align-content: center;
}
img{
    width: 100%;
}
app-footer{
    width: 100%;
    background: linear-gradient(90deg, black 0%, black 10%, rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,black 90%);
}
a{
    color: var(--primary);
}
a:hover{
    color: var(--darkPrimary);
}
.skrol{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width:1024px) {
    p,span,a{
        font-size: 16px;
    }
}
@media(min-width:1600px){
    section{
        width: 70vw;
    }
    .info{
        margin-left: 15%;
        margin-right: 15%;
    }
    article{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        gap: 16px;
    }
    article img{
        width: 100%;
    }
    img{
        width: 70%;
    }
    h3{
        font-size: 2rem;
    }
    h2{
        font-size: 4rem;
        margin: 2rem;
    }
    p,span,a{
        font-size: 18px;
    }
}