
<footer>
    <h2 style="color: white; text-align: center;">GET IN TOUCH</h2>
    <div class="bottom-footer">
        <div class="info">
            <h4>MAIL</h4>
            <a [href]="'mailto:' + correo">{{ correo }}</a>
        </div>
        <div class="info">
            <h4>PHONE</h4>
            <p>+34 640 620 236</p>
        </div>
        <div class="info">
            <h4>CONNECT ME</h4>
            <a href="https://linkedin.com/mcjuanma10" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
    </div>
    <p class="copyright">Copyright © {{ year }} Juan Manuel Mateo Carballo. All rights Reserved.</p>
    <img src="../../../assets/pijotadas/rock.png" alt="" style="height: 40vh; width: 20vw; position: absolute; left: 0; margin-top:5vh;">
    <img src="../../../assets/pijotadas/rock2.png" alt="" style="height: 27vh;position: absolute; right: 0; margin-top:18vh;">
</footer>

